blessed==1.23.0
bpython==0.26
brotli==1.2.0
cachetools==6.2.1
certifi==2025.11.12
charset-normalizer==3.4.4
curtsies==0.4.2
cwcwidth==0.1.10
dataclasses-json==0.6.7
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-bigquery==3.38.0
google-cloud-core==2.5.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.76.0
idna==3.11
jmapc==0.2.23
marshmallow==3.26.1
mypy_extensions==1.1.0
packaging==25.0
proto-plus==1.26.1
protobuf==6.33.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.2
python-dateutil==2.9.0.post0
pyxdg==0.28
requests==2.32.5
rsa==4.9.1
six==1.17.0
sseclient==0.0.27
typing-inspect==0.9.0
typing_extensions==4.15.0
urllib3==2.5.0
wcwidth==0.2.14
